
<header>
    <h1>Angular Workbox PWA</h1>
</header>
<label>
  <input #reportDescription placeholder="description" />
</label>
<label>
  <input #reportNotes placeholder="notes" />
</label>

<button (click)="addReport(reportDescription.value, reportNotes.value)">
  Add
</button>

<ul>
  <li *ngFor="let report of reports">
    {{ report._id }} | {{ report.description }} | {{ report.notes }}|
    <button (click)="removeReport(report._id)">Remove</button>
    <label>
      <input #reportNewNotes placeholder="new notes" />
    </label>
    <button (click)="updateReportNotes(report, reportNewNotes.value)">Update Notes</button>
  </li>
</ul>
